In [64]:
import pandas as pd

In [65]:
# Load the CSV file
df = pd.read_excel('FantasyPros_2024_Draft.xlsx')

# Display the first few rows to verify
print(df.head())

   RK  TIERS          PLAYER NAME TEAM POS# POS BYE WEEK        SOS SEASON  \
0   1      1  Christian McCaffrey   SF  RB1  RB        9  2 out of 5 stars
1   2      1          CeeDee Lamb  DAL  WR1  WR        7  3 out of 5 stars
2   3      1          Tyreek Hill  MIA  WR2  WR        6  2 out of 5 stars
3   4      1        Ja'Marr Chase  CIN  WR3  WR       12  2 out of 5 stars
4   5      1    Amon-Ra St. Brown  DET  WR4  WR        5  4 out of 5 stars

  ECR VS. ADP AVG. POINTS      % GAMES
0           0          2.5  62% (10/16)
1           1          3.8   50% (8/16)
2          -1          1.7   60% (9/15)
3           2         -0.8   33% (5/15)
4           3            2   60% (9/15)

In [66]:
df['SOS SEASON'] = df['SOS SEASON'].str.extract(r'(\d+)')
df['SOS SEASON'] = df['SOS SEASON'].fillna(-1).astype(int)
df.head()

,RK,TIERS,PLAYER NAME,TEAM,POS#,POS,BYE WEEK,SOS SEASON,ECR VS. ADP,AVG. POINTS,% GAMES
0,1,1,Christian McCaffrey,SF,RB1,RB,9,2,0,2.5,62% (10/16)
1,2,1,CeeDee Lamb,DAL,WR1,WR,7,3,1,3.8,50% (8/16)
2,3,1,Tyreek Hill,MIA,WR2,WR,6,2,-1,1.7,60% (9/15)
3,4,1,Ja'Marr Chase,CIN,WR3,WR,12,2,2,-0.8,33% (5/15)
4,5,1,Amon-Ra St. Brown,DET,WR4,WR,5,4,3,2,60% (9/15)

In [67]:
# example of a NAN value which is now -1
player_name = 'Kareem Hunt'
player_row = df[df['PLAYER NAME'].str.lower() == player_name.lower()]
player_row

,RK,TIERS,PLAYER NAME,TEAM,POS#,POS,BYE WEEK,SOS SEASON,ECR VS. ADP,AVG. POINTS,% GAMES
325,326,13,Kareem Hunt,FA,RB97,RB,-,-1,-14,0.8,57% (8/14)

In [68]:
df['RK'] = df['RK'].astype(int)
df['TIERS'] = df['TIERS'].astype(int)
df['BYE WEEK'] = df['BYE WEEK'].replace('-', -1)
df['AVG. POINTS '] = df['AVG. POINTS '].replace('-', 0)

player_name = 'Malik Nabers'
player_row = df[df['PLAYER NAME'].str.lower() == player_name.lower()]
player_row

/var/folders/41/wtl9z2gx2ync8gwdnvs4vldm0000gn/T/ipykernel_99085/1452427858.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['BYE WEEK'] = df['BYE WEEK'].replace('-', -1)
/var/folders/41/wtl9z2gx2ync8gwdnvs4vldm0000gn/T/ipykernel_99085/1452427858.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['AVG. POINTS '] = df['AVG. POINTS '].replace('-', 0)

,RK,TIERS,PLAYER NAME,TEAM,POS#,POS,BYE WEEK,SOS SEASON,ECR VS. ADP,AVG. POINTS,% GAMES
38,39,5,Malik Nabers,NYG,WR23,WR,11,3,12,0.0,-

In [69]:
df.to_csv('cleaned_fantasy_football_players.csv', index=False)